@page
@model WebApp.Pages.Seguridad.EditModel
@{ }

<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue? "Actualizar": "Nuevo Usuario")
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.IdSeguridad" v-model="Entity.IdSeguridad" />

                <div class="form-group mb-3">
                    <label for="Entity.NombreUsuario" class="form-label">Nombre</label>
                    <input type="text" class="form-control" asp-for="Entity.NombreUsuario" v-model="Entity.NombreUsuario" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Usuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" asp-for="Entity.Usuario" v-model="Entity.Usuario" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Contrasena" class="form-label">Contraseña</label>
                    <input type="text" class="form-control" asp-for="Entity.Contrasena" v-model="Entity.Contrasena" maxlength="250" required>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-primary">
                            @(Model.id.HasValue? "Actualizar": "Agregar")
                        </button>
                    </div>

                </div>

            </form>

        </div>
    </div>

</div>

@section Scripts
{

    <script defer src="~/App/Seguridad/Edit.js"></script>


}