@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Proyecto Final</h1>
    <br>
    <h1 class="display-4">Programación VI</h1>
    <br>
    <h1 class="display-4">Francisco Javier Barquero</h1>
    <h1 class="display-4">Leonardo Josue Zumbado</h1>
    <h1 class="display-4">Ismael Umaña Arguedas</h1>
    <h1 class="display-4">Elmer Francisco Gamboa</h1>
    <br>
    <p>UTC <a href="https://www.utc.ac.cr/web_i/"> Universidad Tecnológica </a>.</p>
</div>
