@page
@model WebApp.Pages.Cliente.EditModel
@{ 
}

<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue? "Actualizar": "Nuevo Cliente")
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.IdCliente" v-model="Entity.IdCliente" />


                <div class="form-group mb-3">
                    <label for="Entity.Cedula" class="form-label">Cedula</label>
                    <input type="number" class="form-control" asp-for="Entity.Cedula" v-model="Entity.Cedula" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" asp-for="Entity.Nombre" v-model="Entity.Nombre" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Apellido1" class="form-label">Primer Apellido</label>
                    <input type="text" class="form-control" asp-for="Entity.Apellido1" v-model="Entity.Apellido1" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Apellido2" class="form-label">Segundo Apellido</label>
                    <input type="text" class="form-control" asp-for="Entity.Apellido2" v-model="Entity.Apellido2" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Direccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control" asp-for="Entity.Direccion" v-model="Entity.Direccion" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" asp-for="Entity.Telefono" v-model="Entity.Telefono" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.FechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                    <b-form-datepicker id="FechaNacimiento" name="FechaNacimiento" v-model="Entity.FechaNacimiento" class="form-control" required>

                    </b-form-datepicker>
                </div>                              

                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-primary">
                            @(Model.id.HasValue? "Actualizar": "Agregar")
                        </button>
                    </div>

                </div>

            </form>

        </div>
    </div>

</div>

@section Scripts
{

    <script defer src="~/App/Cliente/"></script>


}